@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Nunito+Sans:wght@800&display=swap');
.App {
  margin-top: 24px;
  min-height: 100vh;
  background: white;
    font-family: 'Heebo', sans-serif;
  }
  
  .main {
    margin: 40px 0 100px 320px;
    max-width: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.navLink {
  color: unset;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
}

p {
  margin: 0.5em 0;
}

.title {
  font-weight: 700;
  font-size: 1.7em;
}

.subtitle {
  font-weight: 300;
  font-size: 1em;
}
.loading-gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #404040 8%, #686868 38%, #404040 54%);
  background-size: 1000px 640px;
}

@keyframes shimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
